/build/
/bin/

.classpath
.project
.settings/
target/
jsqlex/src/test/resources/*debug.js
.idea/
*.iml
*.ipr
*.iws
out/
*.log
node_modules/
/learning-js/node-electron/contacts
/learning-js/node-electron/package-lock.json
/learning-js/node-electron/test.json
/learning-js/node-electron/test.xml
/learning-js/tc-js/player/SundaySky Technical Integration Guide v8.5 - Batch.pdf
package-lock.json
