<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Chealwoo's JavaScript Program</title>

<script type="text/javascript">
/*
	File Name:
	Description:
	Date:
	Collector: Daniel Chealwoo Lee (chealwoous@yahoo.com)
	Reference:
	See Also:
	
	This file is Chealwoo's JavaScript study file.

*/
</script>

</head>

<body>
<script type="text/javascript">
document.write("<h1>Hello World!</h1>");
document.write('<h1>Hello World!\'</h1>');
</script>

</body>
</html>
