/* Guide CSS 
 *
 * Compatible with all browsers except no hover highlighting in IE6.
 * (in client) dtid = 13000118
 *
 */
.tcXF13000118 div {
    margin: 0;
}
.tcXF13000118_title {
    /* _margin: -10px 0 5px 10px; is for IE6 */
    color: #AAE100;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 5px 10px; _margin: -10px 0 5px 10px;
    padding-bottom: 10px;
    width: 90%;
}
.tcXF13000118_title2 {
    /* _margin: -10px 0 5px 10px; is for IE6 */
    color: black;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 5px 10px;
    width: 90%;
}
.tcXF13000118_green {
    color: #AAE100;
}
/*
 * Options
 */
  
.tcXF13000118_option {
    width: 95%;
    background-image: url(guide_rollover.gif);
    background-repeat: no-repeat;
    background-position: 0 -41px;
    height: 41px;
    border: none;
    text-align: left;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}
.tcXF13000118_option:hover {
    cursor: pointer;
    background-position: 0 0;
}
.tcXF13000118_option-text {
    color: black;
    font-family: Arial;
    font-size: 13px;
    padding-left: 35px; *padding-left: 40px;
    width: 90%;
    margin: -3px 0 0 0;
}
.tcXF13000118 ul {
    list-style: none;
    font-family: Arial;
    font-size: 13px;
}
.tcXF13000118 li {
    position: relative;
    padding-top: 3px;
}
.tcXF13000118 li:before {
    position: absolute;
    margin: 5px 0 0 -12px;
    /* accommodate Camino */
    vertical-align: middle;
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #AAE100;
    content: "";
}
/*
 * iPhone details button
 */
  
.tcXF13000118_iphonedetails {
    background-image: url("button_learnmore.png");
    height: 30px;
    margin-left: 25px;
    width: 88px;
}
/*
 * Start over button
 */
  
.tcXF13000118_startover {
    background: url("http://mediav3.inq.com/media/sites/10003715/flash/BestBrands_Guide/button_overlay.png") repeat-x scroll 0 0 #AAE100;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font: bold 13px "Helvetica Neue",Helvetica,Arial,clean,sans-serif !important;
    overflow: visible;
    padding: 5px;
    position: relative;
	top: 20px;
	float: right;
	right: 15px;
    text-align: center;
    text-decoration: none;
    /*text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);*/
    white-space: nowrap;
    _background-image: none;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    _zoom: 1;
}
  
.tcXF13000118_startover:hover,
.tcXF13000118_startover:focus {
    background-position: 0 -50px;
    color: white;
}
  
.tcXF13000118_startover:active {
    background-position: 0 -100px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: none;
}
/*
 * Hide button for DirecTV
 */
.tcXF13000118_hideButton {
    background: url("http://mediav3.inq.com/media/sites/10003715/flash/BestBrands_Guide/button_overlay.png") repeat-x scroll 0 0 #AAE100;
    border-radius: 5px 5px 5px 5px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: black;
    cursor: pointer;
    display: inline-block;
    font: bold 13px "Helvetica Neue",Helvetica,Arial,clean,sans-serif !important;
    overflow: visible;
    padding: 2px;
    position: absolute;
    top: 10px;
    right: 5px;
    text-align: center;
    text-decoration: none;
    /*text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25);*/
    white-space: nowrap;
    _background-image: none;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    _zoom: 1;
}
.tcXF13000118_hideButton:hover,
.tcXF13000118_hideButton:focus {
    background-position: 0 -50px;
    color: white;
}
.tcXF13000118_hideButton:active {
    background-position: 0 -100px;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
    -webkit-box-shadow: none;
}
/*
 * Loading message
 */
  
.xforms-loading-loading {
    opacity: 0;
    filter: alpha(opacity=1); /* --> IE8 and earlier */
}
/*
 * Close guide (Thank you window; for guides that do not close automatically)
 */
  
.tcXF13000118_close-guide {
    background-color: #4D5F71;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 10px;
    width: 85%;
}